---
import Header from "../components/header";
import ImageRow from "../components/image_row";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="index.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Monmo</title>
	</head>
	<body class="h-screen bg-[#A191FF]">
		<main class="h-full">
			<div class="flex flex-col justify-center items-center gap-40">
				<Header className="flex-1 m-32" />
				<ImageRow className="flex-1" />
				<button
					class="py-2 px-6 text-white text-2xl font-thin rounded-3xl bg-primary hover:bg-secondary mb-20 drop-shadow-2xl"
				>
					<a href="/privacy-policy/">Datenschutzerklärung</a>
				</button>
				<h3 class="text-white text-xl sm:text-3xl font-thin mb-20">
					Danke <span class="font-light">Serap ❤️.</span>
				</h3>
			</div>
		</main>
	</body>
</html>
