<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Monmo Datenschutzerklärung</title>
</head>

<body class="flex flex-col gap-4 m-10">
    <h1 class="text-4xl font-bold text-center mb-6">Datenschutzerklärung</h1>
    <p>Diese Datenschutzerklärung gilt für die Nutzung der App Monmo und beschreibt, wie personenbezogene Daten der
        Nutzer der App erhoben, verarbeitet und genutzt werden.</p>
    <br>

    <h2 class="text-2xl font-semibold">Verantwortlicher</h2>
    <p class="font-semibold">Rahmi Tufanoglu</p>
    <p class="font-semibold">monmo.app@gmail.com</p>
    <br>

    <h2 class="text-2xl font-semibold">Erhebung und Nutzung von Daten</h2>
    <p>Die App sammelt ausschließlich Daten zur Verbesserung der App-Stabilität und Leistung. Dazu verwendet die App
        Google Crashlytics, einen Dienst von Google LLC ("Google"). Google Crashlytics erfasst automatisch
        Informationen, die während der Nutzung der App generiert werden, wie z.B. die Geräte- und Systeminformationen,
        die bei der Installation der App verfügbar sind. Diese Informationen helfen bei der Behebung von Fehlern,
        Abstürzen und anderen Problemen, die während der Nutzung der App auftreten können.</p>
    <p>Die App erfasst außerdem Informationen darüber, ob die App installiert oder deinstalliert wird. Diese
        Informationen werden nur zur Analyse der App-Leistung und zur Verbesserung der App genutzt.</p>
    <br>

    <h2 class="text-2xl font-semibold">Weitergabe von Daten</h2>
    <p>Personenbezogene Daten, die im Rahmen der Nutzung der App erhoben werden, werden nicht an Dritte weitergegeben,
        es sei denn, dies ist gesetzlich vorgeschrieben oder erforderlich, um die App-Funktionen bereitzustellen oder zu
        verbessern. Die App kann jedoch anonymisierte Daten oder aggregierte Statistiken an Dritte weitergeben, die die
        Nutzung der App betreffen.</p>
    <br>

    <h2 class="text-2xl font-semibold">Rechte der Nutzer</h2>
    <p>Nutzer haben das Recht, Auskunft über die personenbezogenen Daten zu erhalten, die von der App über sie
        gespeichert werden, sowie das Recht, diese Daten zu berichtigen oder zu löschen. Nutzer können auch der
        Verarbeitung ihrer personenbezogenen Daten durch die App widersprechen oder ihre Einwilligung jederzeit
        widerrufen, indem sie eine E-Mail an monmo.app@gmail.com senden.</p>
    <br>

    <h2 class="text-2xl font-semibold">Sicherheit</h2>
    <p>Die App setzt angemessene technische und organisatorische Sicherheitsmaßnahmen ein, um die personenbezogenen
        Daten der Nutzer zu schützen. Die Daten werden in Übereinstimmung mit den geltenden Datenschutzgesetzen
        gespeichert und verarbeitet.</p>
    <br>

    <h2 class="text-2xl font-semibold">Änderungen der Datenschutzerklärung</h2>
    <p>Die App-Betreiber behalten sich das Recht vor, diese Datenschutzerklärung jederzeit zu ändern. Die Nutzer werden
        über Änderungen per E-Mail oder über die App informiert.</p>
    <br>

    <h2 class="text-2xl font-semibold">Kontakt</h2>
    <p>Bei Fragen oder Bedenken zur Datenschutzerklärung oder zur Verwendung der App können Nutzer sich per E-Mail an
        <span class="font-semibold">monmo.app@gmail.com</span> wenden.</p>
    <br>

    <p class="text-md font-semibold">Stand: 07.05.2023</p>
</body>

</html>